@*@model IEnumerable<TechNewsUI.Models.Podcast>

@{
    ViewData["Title"] = "GetBreakingNews";
}

<h1>GetBreakingNews</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SectionMasterId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ShortDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TotalViews)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.KeyWords)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CategoryType)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PodcastId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SpeakerName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.LongDescription)
            </th>
            <th>
                
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SectionMasterId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
                @foreach (var item1 in item.Chapters)
                {
                    
                    @Html.DisplayFor(modelItem =>item1.ChapterTitle);
                }
                <td>
                @Html.DisplayFor(modelItem => item.ShortDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalViews)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.KeyWords)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryType)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PodcastId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SpeakerName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.LongDescription)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
*@