@model TechNewsUI.Models.GetLiveInterviewByIdDto

@{
    ViewData["Title"] = "GetLiveWebinarById";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h1>GetLiveWebinarById</h1>

<div>
    <h4>GetLiveWebinarByIdDto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SectionMasterId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SectionMasterId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Title)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Title)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ShortDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ShortDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TotalViews)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TotalViews)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CreatedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CreatedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LiveInterviewId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LiveInterviewId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LongDescription)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LongDescription)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.YoutubeVideoLink)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.YoutubeVideoLink)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
