@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@{
    ViewData["Title"] = "GetAllCaseStudies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*
@using System.Web.Mvc.Ajax;
@using System.Web.Mvc.AjaxHelper;*@
@model IEnumerable<TechNewsUI.Models.CaseStudies>

<link rel="stylesheet" href="~/css/GetAllPodcast.css" asp-append-version="true" />

<style>
    p {
        margin-left: 0px;
        padding-left: 0px;
    }

    </style >
    

   <script>
   

        //let viewBtns = document.querySelectorAll(".btn-view");
        //viewBtns.forEach(item => {
            //    item.addEventListener("click",)
            //})

</script>



<h2 class=" text-center  mt-3">Case Studies</h2>
<div class="row m-3 card-list">
    @foreach (var item in Model)
    {
        <div class="col-lg-4 p-5 col-md-6">
                        @*<a asp-action="CaseStudiesDetail" asp-controller="CaseStudies"  asp-route-SectionMasterId="@item.SectionMasterId" style="text-decoration:none">*@
                          @*<a  asp-action="CaseStudiesDetail" asp-controller="CaseStudies"   asp-route-SectionMasterId="@item.SectionMasterId" style="text-decoration:none">*@
                              @*<a href="javascript:onclickfunction('@Html.Row(item.SectionMasterId)')">*@
               <div class="card">
                    <img class="card-img-top" src="@("data:image/png;base64," + Convert.ToBase64String((byte[])item.Image, 0))" />

                    <div class="card-body ">
                        <h5 class="card-title text-dark mb-2">@item.Title</h5>
                       <div class="card-text text-dark shortdis">
                           <p class="fw-bolder">Description:</p>
                           <p>@item.ShortDescription</p>
                        <form method="post" action="PostCaseStudiesDetail">
                                <input type="number" hidden name="sectionMasterId" id="SectionMasterId" value="@item.SectionMasterId" />
                            <button class=" btn btn-dark"  type="submit"  value="hidden">Details</button>
                            </form>
                       </div>
                        @*<p class="card-text text-dark shortdis"> <span class="fw-bolder"> Description:</span> <br> @item.ShortDescription</p>*@

                        <p class="card-text text-dark mt-2">
                            <small class="text-muted">Number of Chapter: @item.NumberOfChapter</small>
                            <span class="text-muted views text-dark">@item.TotalViews <i class="bi bi-eye-fill"></i> &nbsp;</span>
                        </p>
                    </div>
                </div>
            @*</a>            *@
        </div>
    }
</div>

<script src="/lib/jquery-validation/dist/additional-methods.min.js">

</script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"/>

<script type="javascript">
    function onclickfunction(id){
        console.log(id)
    }
    </script>

